.loginContainer {
    padding: 48px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer-wrap {
    height: 100%;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;

        .form-control:focus {
            border-color: $primary;
        }

        .btn-login {
            font-size: 1rem;
            line-height: 1.5;
            height: 50px;
            width: 100%;
            margin-top: 1rem;
            border-radius: 25px;
        }

        input[type=email],
        input[type=password] {
            border: 0;
            color: $primary;
            display: block;
            width: 100%;
            background: $gray-200;
            height: 50px;
            border-radius: 25px;
            padding-left: 2rem;

            &::placeholder {
                color: $primary;
                opacity: 0.5;
            }
        }
    }
}