.reservationList {
    @extend .sectionGeneral;

    .editReservationBtn {
        text-decoration: underline;
        color: $primary;
    }
}

.reservationItem {
    padding: 16px 8px;
    display: flex;
    gap: 24px;
}

.calendar-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    border: 1px solid black;
    border-radius: 32px;
    gap: 16px;
    width: 30%;
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calendarMonthPickers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .calendarMonth-Current {
        font-size: 1.25rem;
        margin: 0;
    }

    .material-symbols-outlined:hover {
        cursor: pointer
    }

    ;
}

.dayInners {
    text-align: center;
    line-height: 2rem;
    border: 1px solid transparent;
    padding: 0;
}

.dateInners {
    border: 1px solid $white;
    line-height: 2rem;
    text-align: center;
    color: #424242;
    background-color: #f2f2f2;
    padding: 0;

    &:hover {
        cursor: pointer;
    }

    &-selected {
        border-color: $green;
    }
}

.notAvailable {
    color: gray;
    background-color: transparent;

    span {
        display: none;
    }

    &:hover {
        cursor: default;
    }
}

.dateFull {
    background-color: #f2dede;
    color: #a94442;

    &:hover {
        cursor: default;
    }
}

.pickerColorGuide {
    display: flex;
    justify-content: center;
    gap: 20px;

    p {
        margin: 0;
        font-size: 0.875rem;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .colorBox {
        width: 18px;
        height: 18px;
        border: 2px solid;
        border-radius: 3px;

        &-red {
            background-color: #f2dede;
            border-color: #f2dede;
        }

        &-gray {
            background-color: #f2f2f2;
            border-color: #f2f2f2;
        }

        &-green {
            border-color: $green;
        }
    }
}

.bookingDetails-form,
.customerInfo {
    width: 35%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .btn-primary {
        color: $white;
    }

    .form-group {
        * {
            padding: 0;
        }

        label {
            display: block;
        }

        .row {
            align-items: center;
        }

        .form-select {
            padding: 0 0.75rem;
        }

        .form-control {
            padding: 0 0.75rem;
        }
    }
}

.newBooking-input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input,
    textarea,
    select {
        font-size: 1rem;
        color: $dark-100;
        max-width: 75%;
        resize: none;
    }
}

.bookingDetailsBtn-group {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}