.userInfo {
    @extend .sectionGeneral;
}

.userInfo-form{
max-width: 400px;
}

.userInfo-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=password] {
        max-width: 70%;
    }
}

.userInfoBtn-group{
    display: flex;
    justify-content: center;
    gap: 20px;

    .btn{
        color: $white;
    }
}