body {
    font-family: 'Noto Sans TC', sans-serif;
}

a {
    text-decoration: none;
}

.bottom-initial {
    bottom: initial;
}

.material-symbols-outlined{
    margin-bottom: 0;
    vertical-align: text-bottom;

    @include media-breakpoint-up(xl){
        width: 32px;
    }
}